body{
    font-family: tahoma, sans-serif;
    margin: 0;
}

#principal{
    width: 1024px;
    margin: 20px auto;
}

.header-top{
    background-color: #162028;
    height: 50px;
    position: relative;
}

.logotipo{
    margin: 10px 0 0 150px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%
}

.header-nav a{
    color: #425564; 
    text-decoration: none;
    transition: color 0.3s linear;
}

.header-nav a:hover{
    color: white;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav li{
    display: inline-block;
    padding: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 12px;
    
}

.portfolio h1{
    color: #202020;
    padding-top: 50px;
    font-size: 36px;
    text-align: center;
}

.portfolio p{
    color: #555555;
    font-size: 16px;
    line-height: 2;
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
    
}

.gallery{
    color: #555;
    padding: 50px; 100px 50px 100px;
    overflow: auto;
}

.gallery-card{
    width: 32%;
    float: left;
    text-align: center;
}


.gallery-titulo{
    letter-spacing: 3px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;  
}



.about{
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: #003d52;
    margin-top: 40px;
    padding: 100px;
    color: white;
    height: 350px;
    
}

.about h2{
    font-size: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
}

.about p{
    line-height: 1.5;
    width: 70%;
}

.contact{
    color: #143f52;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
    text-align: center;
    margin: 40px;
    overflow: auto;

}

footer{
    background-color: #0b171f;
    padding: 30px;
    text-align: center;
    letter-spacing: 5px;
    color: #6f8597;
    font-size: 14px;
}


